.current-forecast {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forecast-icon {
	position: relative;
	bottom: -2.5rem;
	width: 250px;
}

.location-name {
	font-weight: 700;
	font-size: 2.5rem;
}

.details {
	margin-top: 1.5rem;
	max-width: 300px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	font-size: 1.75rem;
}

.details .condition {
	font-weight: 500;
}

.details .temperatures {
	text-align: right;
	font-weight: 600;
}

@media screen and (max-width: 992px) {
	.location-name {
		font-size: 1.85rem;
	}

	.details {
		font-size: 1.15rem;
	}

	.forecast-icon {
		width: 200px;
	}
}