.search-input {
	border: 2px solid #fff;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 5fr 1fr;
}

.search-input .icon {
	border: none;
	background: url('../images/magnifier.svg');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

input {
	padding: 0.75em 1.15em;
	border: none;
	outline: none;
	background: #2C3B46;
	color: #fff;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 0.15em;
}

input::placeholder {
	color: rgba(255,255,255,0.5);
}
